

  #hand_2 .st0{fill:#C5C5C5;}
	#hand_2 .st1{fill:#B7B7B7;}
	#hand_2 .st2{fill:#A7A7A7;}
	#hand_2 .st3{fill:#AFAFAF;}
	#hand_2 .st4{fill:#989898;}
	#hand_2 .st5{fill:#A1A1A1;}
	#hand_2 .st6{fill:#A6A6A6;}
	#hand_2 .st7{fill:#C2C2C2;}
	#hand_2 .st8{fill:#BBBBBB;}
	#hand_2 .st9{fill:#BEBEBE;}
	#hand_2 .st10{fill:#A0A0A0;}
	#hand_2 .st11{fill:#ABABAB;}
	#hand_2 .st12{fill:#B0B0B0;}
	#hand_2 .st13{fill:#999999;}
	#hand_2 .st14{fill:#909090;}
	#hand_2 .st15{fill:#B3B3B3;}
	#hand_2 .st16{fill:#9B9B9B;}
	#hand_2 .st17{fill:#AEAEAE;}
	#hand_2 .st18{fill:#898989;}
	#hand_2 .st19{fill:#9C9C9C;}
	#hand_2 .st20{fill:#A8A8A8;}
	#hand_2 .st21{fill:#A5A5A5;}
	#hand_2 .st22{fill:#818181;}
	#hand_2 .st23{fill:#9F9F9F;}
	#hand_2 .st24{fill:#B6B6B6;}
	#hand_2 .st25{fill:#A2A2A2;}
	#hand_2 .st26{fill:#A4A4A4;}
	#hand_2 .st27{fill:#C0C0C0;}
	#hand_2 .st28{fill:#B5B5B5;}
	#hand_2 .st29{fill:#ACACAC;}
	#hand_2 .st30{fill:#A9A9A9;}
	#hand_2 .st31{fill:#BABABA;}
	#hand_2 .st32{fill:#B8B8B8;}
	#hand_2 .st33{fill:#B9B9B9;}
	#hand_2 .st34{fill:#BCBCBC;}
	#hand_2 .st35{fill:#C1C1C1;}
	#hand_2 .st36{fill:#AAAAAA;}
	#hand_2 .st37{fill:#C9C9C9;}
	#hand_2 .st38{fill:#838383;}
	#hand_2 .st39{fill:#BDBDBD;}
	#hand_2 .st40{fill:#A3A3A3;}
	#hand_2 .st41{fill:#7C7C7C;}
	#hand_2 .st42{fill:#CBCBCB;}
	#hand_2 .st43{fill:#767676;}
	#hand_2 .st44{fill:#8C8C8C;}
	#hand_2 .st45{fill:#787878;}
	#hand_2 .st46{fill:#7A7A7A;}
	#hand_2 .st47{fill:#969696;}
	#hand_2 .st48{fill:#777777;}
	#hand_2 .st49{fill:#B2B2B2;}
	#hand_2 .st50{fill:#6E6E6E;}
	#hand_2 .st51{fill:#929292;}
	#hand_2 .st52{fill:#B1B1B1;}
	#hand_2 .st53{fill:#757575;}
	#hand_2 .st54{fill:#8E8E8E;}
	#hand_2 .st55{fill:#C7C7C7;}
	#hand_2 .st56{fill:#656565;}
	#hand_2 .st57{fill:#B4B4B4;}
	#hand_2 .st58{fill:#686868;}
	#hand_2 .st59{fill:#606060;}
	#hand_2 .st60{fill:#7F7F7F;}
	#hand_2 .st61{fill:#737373;}
	#hand_2 .st62{fill:#646464;}
	#hand_2 .st63{fill:#676767;}
	#hand_2 .st64{fill:#727272;}
	#hand_2 .st65{fill:#808080;}
	#hand_2 .st66{fill:#7B7B7B;}
	#hand_2 .st67{fill:#6C6C6C;}
	#hand_2 .st68{fill:#BFBFBF;}
	#hand_2 .st69{fill:#CACACA;}
	#hand_2 .st70{fill:#5F5F5F;}
	#hand_2 .st71{fill:#8A8A8A;}
	#hand_2 .st72{fill:#CECECE;}
	#hand_2 .st73{fill:#949494;}
	#hand_2 .st74{fill:#747474;}
	#hand_2 .st75{fill:#6B6B6B;}
	#hand_2 .st76{fill:#717171;}
	#hand_2 .st77{fill:#8B8B8B;}
	#hand_2 .st78{fill:#7D7D7D;}
	#hand_2 .st79{fill:#707070;}
	#hand_2 .st80{fill:#6A6A6A;}
	#hand_2 .st81{fill:#6F6F6F;}
	#hand_2 .st82{fill:#6D6D6D;}
	#hand_2 .st83{fill:#868686;}
	#hand_2 .st84{fill:#8F8F8F;}
	#hand_2 .st85{fill:#888888;}
	#hand_2 .st86{fill:#7E7E7E;}
	#hand_2 .st87{fill:#636363;}
	#hand_2 .st88{fill:#9D9D9D;}
	#hand_2 .st89{fill:#ADADAD;}
	#hand_2 .st90{fill:#9A9A9A;}
	#hand_2 .st91{fill:#797979;}
	#hand_2 .st92{fill:#C6C6C6;}
	#hand_2 .st93{fill:#D3D3D3;}
	#hand_2 .st94{fill:#919191;}
	#hand_2 .st95{fill:#939393;}
	#hand_2 .st96{fill:#C3C3C3;}
	#hand_2 .st97{fill:#DADADA;}
	#hand_2 .st98{fill:#C4C4C4;}
	#hand_2 .st99{fill:#828282;}
	#hand_2 .st100{fill:#848484;}
	#hand_2 .st101{fill:#878787;}
	#hand_2 .st102{fill:#D1D1D1;}
	#hand_2 .st103{fill:#8D8D8D;}
	#hand_2 .st104{fill:#D2D2D2;}
	#hand_2 .st105{fill:#C8C8C8;}
	#hand_2 .st106{fill:#D6D6D6;}
	#hand_2 .st107{fill:#696969;}
	#hand_2 .st108{fill:#9E9E9E;}
	#hand_2 .st109{fill:#979797;}
	#hand_2 .st110{fill:#CCCCCC;}
	#hand_2 .st111{fill:#D5D5D5;}
	#hand_2 .st112{fill:#CFCFCF;}
  #hand_2 .st113{fill:#DBDBDB;}
  

  #Layer_1 .st0{fill:#CFA184;}
	#Layer_1 .st1{fill:#D58A6B;}
	#Layer_1 .st2{fill:#C77A5D;}
	#Layer_1 .st3{fill:#CF8165;}
	#Layer_1 .st4{fill:#D18066;}
	#Layer_1 .st5{fill:#C2654C;}
	#Layer_1 .st6{fill:#C6715A;}
	#Layer_1 .st7{fill:#CB765E;}
	#Layer_1 .st8{fill:#D39792;}
	#Layer_1 .st9{fill:#D68F74;}
	#Layer_1 .st10{fill:#D99370;}
	#Layer_1 .st11{fill:#C76E56;}
	#Layer_1 .st12{fill:#CA7E61;}
	#Layer_1 .st13{fill:#D97F5D;}
	#Layer_1 .st14{fill:#B56D51;}
	#Layer_1 .st15{fill:#CD8B7D;}
	#Layer_1 .st16{fill:#B85D4C;}
	#Layer_1 .st17{fill:#CA8777;}
	#Layer_1 .st18{fill:#B76D5E;}
	#Layer_1 .st19{fill:#C68272;}
	#Layer_1 .st20{fill:#A35B51;}
	#Layer_1 .st21{fill:#C26A5A;}
	#Layer_1 .st22{fill:#CB7866;}
	#Layer_1 .st23{fill:#C37569;}
	#Layer_1 .st24{fill:#B04A44;}
	#Layer_1 .st25{fill:#C06E65;}
	#Layer_1 .st26{fill:#D58A6A;}
	#Layer_1 .st27{fill:#C1735E;}
	#Layer_1 .st28{fill:#C9755F;}
	#Layer_1 .st29{fill:#C2946E;}
	#Layer_1 .st30{fill:#C57863;}
	#Layer_1 .st31{fill:#B17961;}
	#Layer_1 .st32{fill:#BD8062;}
	#Layer_1 .st33{fill:#C97457;}
	#Layer_1 .st34{fill:#D29882;}
	#Layer_1 .st35{fill:#C77558;}
	#Layer_1 .st36{fill:#C58F6A;}
	#Layer_1 .st37{fill:#D07D5C;}
	#Layer_1 .st38{fill:#C7926D;}
	#Layer_1 .st39{fill:#B9816C;}
	#Layer_1 .st40{fill:#D19A72;}
	#Layer_1 .st41{fill:#CA9571;}
	#Layer_1 .st42{fill:#AD6D5D;}
	#Layer_1 .st43{fill:#C77652;}
	#Layer_1 .st44{fill:#C8936A;}
	#Layer_1 .st45{fill:#D48F6D;}
	#Layer_1 .st46{fill:#D48D6D;}
	#Layer_1 .st47{fill:#BB896D;}
	#Layer_1 .st48{fill:#C19073;}
	#Layer_1 .st49{fill:#C89778;}
	#Layer_1 .st50{fill:#CE9C7C;}
	#Layer_1 .st51{fill:#C99876;}
	#Layer_1 .st52{fill:#C57F5F;}
	#Layer_1 .st53{fill:#D48872;}
	#Layer_1 .st54{fill:#B8685C;}
	#Layer_1 .st55{fill:#C47F73;}
	#Layer_1 .st56{fill:#CA7465;}
	#Layer_1 .st57{fill:#DB9F93;}
	#Layer_1 .st58{fill:#9C5646;}
	#Layer_1 .st59{fill:#D79276;}
	#Layer_1 .st60{fill:#BD7962;}
	#Layer_1 .st61{fill:#BE7564;}
	#Layer_1 .st62{fill:#D99579;}
	#Layer_1 .st63{fill:#B86C5C;}
	#Layer_1 .st64{fill:#CD8169;}
	#Layer_1 .st65{fill:#944F46;}
	#Layer_1 .st66{fill:#DFA190;}
	#Layer_1 .st67{fill:#A53F35;}
	#Layer_1 .st68{fill:#B25F53;}
	#Layer_1 .st69{fill:#A36055;}
	#Layer_1 .st70{fill:#C37163;}
	#Layer_1 .st71{fill:#D6957F;}
	#Layer_1 .st72{fill:#D69285;}
	#Layer_1 .st73{fill:#CE8878;}
	#Layer_1 .st74{fill:#C57C70;}
	#Layer_1 .st75{fill:#C27C6E;}
	#Layer_1 .st76{fill:#C6776B;}
	#Layer_1 .st77{fill:#994646;}
	#Layer_1 .st78{fill:#9C493E;}
	#Layer_1 .st79{fill:#B4665C;}
	#Layer_1 .st80{fill:#AB453E;}
	#Layer_1 .st81{fill:#9E4242;}
	#Layer_1 .st82{fill:#C9857A;}
	#Layer_1 .st83{fill:#913C36;}
	#Layer_1 .st84{fill:#B16159;}
	#Layer_1 .st85{fill:#9E4339;}
	#Layer_1 .st86{fill:#D68C81;}
	#Layer_1 .st87{fill:#CD8373;}
	#Layer_1 .st88{fill:#9C4232;}
	#Layer_1 .st89{fill:#B9594C;}
	#Layer_1 .st90{fill:#DB9F83;}
	#Layer_1 .st91{fill:#87322F;}
	#Layer_1 .st92{fill:#BD7160;}
	#Layer_1 .st93{fill:#C07569;}
	#Layer_1 .st94{fill:#BF6F61;}
	#Layer_1 .st95{fill:#C87E6A;}
	#Layer_1 .st96{fill:#CE8874;}
	#Layer_1 .st97{fill:#C1715B;}
	#Layer_1 .st98{fill:#8F342E;}
	#Layer_1 .st99{fill:#70362F;}
	#Layer_1 .st100{fill:#A34C49;}
	#Layer_1 .st101{fill:#A85E52;}
	#Layer_1 .st102{fill:#C0715C;}
	#Layer_1 .st103{fill:#914141;}
	#Layer_1 .st104{fill:#912D2D;}
	#Layer_1 .st105{fill:#803933;}
	#Layer_1 .st106{fill:#942F2F;}
	#Layer_1 .st107{fill:#8F4045;}
	#Layer_1 .st108{fill:#8F3429;}
	#Layer_1 .st109{fill:#9E4045;}
	#Layer_1 .st110{fill:#9C4F4F;}
	#Layer_1 .st111{fill:#C57972;}
	#Layer_1 .st112{fill:#B56E69;}
	#Layer_1 .st113{fill:#964541;}
	#Layer_1 .st114{fill:#9E4747;}
	#Layer_1 .st115{fill:#963636;}
	#Layer_1 .st116{fill:#996051;}
	#Layer_1 .st117{fill:#BBA086;}
	#Layer_1 .st118{fill:#CEA986;}
	#Layer_1 .st119{fill:#B58069;}
	#Layer_1 .st120{fill:#BF8D77;}
	#Layer_1 .st121{fill:#7D2E2C;}
	#Layer_1 .st122{fill:#B05652;}
	#Layer_1 .st123{fill:#753D3F;}
	#Layer_1 .st124{fill:#96312A;}
	#Layer_1 .st125{fill:#D1AE8C;}
	#Layer_1 .st126{fill:#873331;}
	#Layer_1 .st127{fill:#BB605B;}
	#Layer_1 .st128{fill:#8F322F;}
	#Layer_1 .st129{fill:#9C3F3C;}
	#Layer_1 .st130{fill:#993431;}
	#Layer_1 .st131{fill:#9E3939;}
	#Layer_1 .st132{fill:#B25651;}
	#Layer_1 .st133{fill:#A84741;}
	#Layer_1 .st134{fill:#A33636;}
	#Layer_1 .st135{fill:#AE574F;}
	#Layer_1 .st136{fill:#A3463E;}
	#Layer_1 .st137{fill:#993232;}
	#Layer_1 .st138{fill:#943B36;}
	#Layer_1 .st139{fill:#9E342E;}
	#Layer_1 .st140{fill:#BE6462;}
	#Layer_1 .st141{fill:#A63C33;}
	#Layer_1 .st142{fill:#A73E32;}
	#Layer_1 .st143{fill:#B14F4C;}
	#Layer_1 .st144{fill:#B35D55;}
	#Layer_1 .st145{fill:#993E39;}
	#Layer_1 .st146{fill:#B1544C;}
	#Layer_1 .st147{fill:#B65050;}
	#Layer_1 .st148{fill:#B55957;}
	#Layer_1 .st149{fill:#803333;}
	#Layer_1 .st150{fill:#8F3331;}
	#Layer_1 .st151{fill:#A94A3C;}
	#Layer_1 .st152{fill:#993C34;}
	#Layer_1 .st153{fill:#823131;}
	#Layer_1 .st154{fill:#C07369;}
	#Layer_1 .st155{fill:#D07E6D;}
	#Layer_1 .st156{fill:#D6937D;}
	#Layer_1 .st157{fill:#CE7A64;}
	#Layer_1 .st158{fill:#C79673;}
	#Layer_1 .st159{fill:#D38675;}
	#Layer_1 .st160{fill:#CC8576;}
	#Layer_1 .st161{fill:#C97E65;}
	#Layer_1 .st162{fill:#C97D6F;}
	#Layer_1 .st163{fill:#C98271;}
	#Layer_1 .st164{fill:#C67969;}
	#Layer_1 .st165{fill:#BE7364;}
	#Layer_1 .st166{fill:#D18360;}
	#Layer_1 .st167{fill:#D58C6C;}
	#Layer_1 .st168{fill:#CE7A5E;}
	#Layer_1 .st169{fill:#CE7F5A;}
	#Layer_1 .st170{fill:#C7705A;}
	#Layer_1 .st171{fill:#C8745D;}
	#Layer_1 .st172{fill:#C26B5B;}
	#Layer_1 .st173{fill:#B77E67;}
	#Layer_1 .st174{fill:#CF7C60;}
	#Layer_1 .st175{fill:#C7755A;}
	#Layer_1 .st176{fill:#C59870;}
	#Layer_1 .st177{fill:#D38679;}
	#Layer_1 .st178{fill:#CD8571;}
	#Layer_1 .st179{fill:#CC7D6B;}
	#Layer_1 .st180{fill:#D08677;}
	#Layer_1 .st181{fill:#CF8778;}
	#Layer_1 .st182{fill:#C2705D;}
	#Layer_1 .st183{fill:#CC8472;}
	#Layer_1 .st184{fill:#C47464;}
	#Layer_1 .st185{fill:#C7696C;}
	#Layer_1 .st186{fill:#BA6C6C;}
	#Layer_1 .st187{fill:#CD8277;}
	#Layer_1 .st188{fill:#BE6B64;}
	#Layer_1 .st189{fill:#B9675A;}
	#Layer_1 .st190{fill:#D69D85;}
	#Layer_1 .st191{fill:#CA7F6D;}
	#Layer_1 .st192{fill:#CE8876;}
	#Layer_1 .st193{fill:#C77F6D;}
	#Layer_1 .st194{fill:#D1807E;}
	#Layer_1 .st195{fill:#C26C6A;}
	#Layer_1 .st196{fill:#C26865;}
	#Layer_1 .st197{fill:#C06563;}
	#Layer_1 .st198{fill:#CE7D72;}
	#Layer_1 .st199{fill:#D27E78;}
	#Layer_1 .st200{fill:#CA775E;}
	#Layer_1 .st201{fill:#A43B36;}
	#Layer_1 .st202{fill:#944848;}
	#Layer_1 .st203{fill:#9C4343;}
	#Layer_1 .st204{fill:#9E3A3A;}
	#Layer_1 .st205{fill:#9E4345;}
	#Layer_1 .st206{fill:#A14346;}
	#Layer_1 .st207{fill:#8F3E43;}
	#Layer_1 .st208{fill:#CC7874;}
	#Layer_1 .st209{fill:#CF8D82;}
	#Layer_1 .st210{fill:#C78079;}
	#Layer_1 .st211{fill:#873C3A;}
	#Layer_1 .st212{fill:#9C3B3B;}
	#Layer_1 .st213{fill:#D6A39C;}
	#Layer_1 .st214{fill:#D58B89;}
	#Layer_1 .st215{fill:#D08D7D;}
	#Layer_1 .st216{fill:#DB9A8F;}
	#Layer_1 .st217{fill:#D4A39C;}
	#Layer_1 .st218{fill:#C97C73;}
	#Layer_1 .st219{fill:#DAAEA1;}
	#Layer_1 .st220{fill:#8F3B38;}
	#Layer_1 .st221{fill:#BA5C59;}
	#Layer_1 .st222{fill:#C6796D;}
	#Layer_1 .st223{fill:#C17266;}
	#Layer_1 .st224{fill:#BE7268;}
	#Layer_1 .st225{fill:#C2766A;}
	#Layer_1 .st226{fill:#C3726B;}
	#Layer_1 .st227{fill:#8A3333;}
	#Layer_1 .st228{fill:#BC746C;}
	#Layer_1 .st229{fill:#91403D;}
	#Layer_1 .st230{fill:#993939;}
	#Layer_1 .st231{fill:#753638;}
	#Layer_1 .st232{fill:#CD8775;}
	#Layer_1 .st233{fill:#D18B80;}
	#Layer_1 .st234{fill:#B46159;}
	#Layer_1 .st235{fill:#D99C85;}
	#Layer_1 .st236{fill:#D79882;}
	#Layer_1 .st237{fill:#BC7765;}
	#Layer_1 .st238{fill:#CC877A;}
	#Layer_1 .st239{fill:#C67F76;}
	#Layer_1 .st240{fill:#DDA18A;}
	#Layer_1 .st241{fill:#DEA28B;}
	#Layer_1 .st242{fill:#D49A86;}
	#Layer_1 .st243{fill:#DDB99B;}
	#Layer_1 .st244{fill:#D69B85;}
	#Layer_1 .st245{fill:#D6A38C;}
	#Layer_1 .st246{fill:#DCA88A;}
	#Layer_1 .st247{fill:#9E5449;}
	#Layer_1 .st248{fill:#9C453B;}
	#Layer_1 .st249{fill:#AB5A54;}
	#Layer_1 .st250{fill:#A1433B;}
	#Layer_1 .st251{fill:#AD4E4B;}
	#Layer_1 .st252{fill:#BF6F63;}
	#Layer_1 .st253{fill:#91493F;}
	#Layer_1 .st254{fill:#B05850;}
	#Layer_1 .st255{fill:#9F453E;}
	#Layer_1 .st256{fill:#A64F4C;}
	#Layer_1 .st257{fill:#A54542;}
	#Layer_1 .st258{fill:#9E423F;}
	#Layer_1 .st259{fill:#CC796B;}
	#Layer_1 .st260{fill:#91463D;}
	#Layer_1 .st261{fill:#805248;}
	#Layer_1 .st262{fill:#C77864;}
	#Layer_1 .st263{fill:#8A5950;}
	#Layer_1 .st264{fill:#9C5C50;}
	#Layer_1 .st265{fill:#A3685A;}
	#Layer_1 .st266{fill:#754D48;}
	#Layer_1 .st267{fill:#854438;}
	#Layer_1 .st268{fill:#B35649;}
	#Layer_1 .st269{fill:#B36252;}
	#Layer_1 .st270{fill:#AF5F4C;}
	#Layer_1 .st271{fill:#874F47;}
	#Layer_1 .st272{fill:#96564C;}
	#Layer_1 .st273{fill:#6B513C;}
	#Layer_1 .st274{fill:#80634B;}
	#Layer_1 .st275{fill:#A68D72;}
	#Layer_1 .st276{fill:#7D4D44;}
	#Layer_1 .st277{fill:#BE746B;}
	#Layer_1 .st278{fill:#AD826E;}
	#Layer_1 .st279{fill:#8D6B51;}
	#Layer_1 .st280{fill:#B0665B;}
	#Layer_1 .st281{fill:#A96A4F;}
	#Layer_1 .st282{fill:#8A664E;}
	#Layer_1 .st283{fill:#9A5E48;}
	#Layer_1 .st284{fill:#D9997F;}
	#Layer_1 .st285{fill:#C8887F;}
	#Layer_1 .st286{fill:#CC7D69;}
	#Layer_1 .st287{fill:#D18E78;}
	#Layer_1 .st288{fill:#D59489;}
	#Layer_1 .st289{fill:#B27065;}
	#Layer_1 .st290{fill:#B5817C;}
	#Layer_1 .st291{fill:#D17B74;}
	#Layer_1 .st292{fill:#CC8876;}
	#Layer_1 .st293{fill:#AE5245;}
	#Layer_1 .st294{fill:#B96B61;}
	#Layer_1 .st295{fill:#A75852;}
	#Layer_1 .st296{fill:#B46660;}
	#Layer_1 .st297{fill:#A65C63;}
	#Layer_1 .st298{fill:#AD4747;}
	#Layer_1 .st299{fill:#9E4B4F;}
	#Layer_1 .st300{fill:#A65249;}
	#Layer_1 .st301{fill:#CD7773;}
	#Layer_1 .st302{fill:#C78982;}
	#Layer_1 .st303{fill:#C57976;}
	#Layer_1 .st304{fill:#CF8178;}
	#Layer_1 .st305{fill:#C57774;}
	#Layer_1 .st306{fill:#C47268;}
	#Layer_1 .st307{fill:#D1907E;}
	#Layer_1 .st308{fill:#B0725B;}
	#Layer_1 .st309{fill:#D29987;}
	#Layer_1 .st310{fill:#D3B093;}
	#Layer_1 .st311{fill:#C68D76;}
	#Layer_1 .st312{fill:#BC7E6C;}
	#Layer_1 .st313{fill:#BD6D5E;}
	#Layer_1 .st314{fill:#BA7260;}
	#Layer_1 .st315{fill:#C98676;}
	#Layer_1 .st316{fill:#D49888;}
	#Layer_1 .st317{fill:#965549;}
	#Layer_1 .st318{fill:#B46857;}
	#Layer_1 .st319{fill:#AE625D;}
	#Layer_1 .st320{fill:#99674E;}
	#Layer_1 .st321{fill:#D7AA8E;}
	#Layer_1 .st322{fill:#DFAA9E;}
	#Layer_1 .st323{fill:#D1AA86;}
	#Layer_1 .st324{fill:#CFA686;}
	#Layer_1 .st325{fill:#D5B79B;}
	#Layer_1 .st326{fill:#8F5947;}
	#Layer_1 .st327{fill:#CA9B7D;}
	#Layer_1 .st328{fill:#A35D4B;}
	#Layer_1 .st329{fill:#C78573;}
	#Layer_1 .st330{fill:#C49177;}
	#Layer_1 .st331{fill:#CD8F7F;}
	#Layer_1 .st332{fill:#8C3A34;}
	#Layer_1 .st333{fill:#943734;}
	#Layer_1 .st334{fill:#872E31;}
	#Layer_1 .st335{fill:#913333;}
	#Layer_1 .st336{fill:#993D37;}
	#Layer_1 .st337{fill:#BD685A;}
	#Layer_1 .st338{fill:#B85A4B;}
	#Layer_1 .st339{fill:#B44B3F;}
	#Layer_1 .st340{fill:#963630;}
	#Layer_1 .st341{fill:#963933;}
	#Layer_1 .st342{fill:#B55045;}
	#Layer_1 .st343{fill:#993D34;}
	#Layer_1 .st344{fill:#C67163;}
	#Layer_1 .st345{fill:#C17064;}
	#Layer_1 .st346{fill:#C26D5F;}
	#Layer_1 .st347{fill:#C37067;}
	#Layer_1 .st348{fill:#C87970;}
	#Layer_1 .st349{fill:#C67567;}
	#Layer_1 .st350{fill:#C57368;}
	#Layer_1 .st351{fill:#9E4949;}
	#Layer_1 .st352{fill:#BA665C;}
	#Layer_1 .st353{fill:#B66758;}
	#Layer_1 .st354{fill:#CB9F7E;}
	#Layer_1 .st355{fill:#DA9A80;}
	#Layer_1 .st356{fill:#D38567;}
	#Layer_1 .st357{fill:#D18968;}
	#Layer_1 .st358{fill:#D49078;}
	#Layer_1 .st359{fill:#D5A985;}
	#Layer_1 .st360{fill:#D28E76;}
	#Layer_1 .st361{fill:#D8957A;}
	#Layer_1 .st362{fill:#CF8C6E;}
	#Layer_1 .st363{fill:#DCA085;}
	#Layer_1 .st364{fill:#D59C80;}
	#Layer_1 .st365{fill:#D69375;}
	#Layer_1 .st366{fill:#D8987A;}
	#Layer_1 .st367{fill:#D28172;}
	#Layer_1 .st368{fill:#DC9C85;}
	#Layer_1 .st369{fill:#BD715E;}
	#Layer_1 .st370{fill:#BC6F6A;}
	#Layer_1 .st371{fill:#D5937E;}
	#Layer_1 .st372{fill:#C77871;}
	#Layer_1 .st373{fill:#D08971;}
	#Layer_1 .st374{fill:#DDB291;}
	#Layer_1 .st375{fill:#DFA796;}
	#Layer_1 .st376{fill:#D1897E;}
	#Layer_1 .st377{fill:#DBA293;}
	#Layer_1 .st378{fill:#D38169;}
	#Layer_1 .st379{fill:#D48E70;}
	#Layer_1 .st380{fill:#D99577;}
	#Layer_1 .st381{fill:#D08D79;}
	#Layer_1 .st382{fill:#D79073;}
	#Layer_1 .st383{fill:#DA9A7E;}
	#Layer_1 .st384{fill:#DD9279;}
	#Layer_1 .st385{fill:#CD906F;}
	#Layer_1 .st386{fill:#D0AD91;}
	#Layer_1 .st387{fill:#CE9E7C;}
	#Layer_1 .st388{fill:#D3AE8F;}
	#Layer_1 .st389{fill:#D4A382;}
	#Layer_1 .st390{fill:#D4A380;}
	#Layer_1 .st391{fill:#D98B71;}
	#Layer_1 .st392{fill:#CF8A76;}
	#Layer_1 .st393{fill:#D1A280;}
	#Layer_1 .st394{fill:#CB6C56;}
	#Layer_1 .st395{fill:#CB745C;}
	#Layer_1 .st396{fill:#D48A72;}
	#Layer_1 .st397{fill:#D68D75;}
	#Layer_1 .st398{fill:#E0B8A2;}
	#Layer_1 .st399{fill:#D48D6C;}
	#Layer_1 .st400{fill:#D3A083;}
	#Layer_1 .st401{fill:#D2886E;}
	#Layer_1 .st402{fill:#BF775C;}
	#Layer_1 .st403{fill:#C76A51;}
	#Layer_1 .st404{fill:#DE9C8B;}
	#Layer_1 .st405{fill:#DC9C87;}
	#Layer_1 .st406{fill:#964341;}
	#Layer_1 .st407{fill:#DEDEDE;}
	#Layer_1 .st408{fill:#EDEDED;}
	#Layer_1 .st409{fill:#E0E0E0;}
	#Layer_1 .st410{fill:#D4D4D4;}
	#Layer_1 .st411{fill:#E3E3E3;}
	#Layer_1 .st412{fill:#E8E8E8;}
	#Layer_1 .st413{fill:#DBDBDB;}
	#Layer_1 .st414{fill:#BDBDBD;}
	#Layer_1 .st415{fill:#D6D6D6;}
	#Layer_1 .st416{fill:#B8B8B8;}
	#Layer_1 .st417{fill:#9A9A9A;}
	#Layer_1 .st418{fill:#B2B2B2;}
	#Layer_1 .st419{fill:#C4C4C4;}
	#Layer_1 .st420{fill:#C7C7C7;}
	#Layer_1 .st421{fill:#D9D9D9;}
	#Layer_1 .st422{fill:#E6E6E6;}
	#Layer_1 .st423{fill:#888888;}
	#Layer_1 .st424{fill:#818181;}
	#Layer_1 .st425{fill:#ABABAB;}
	#Layer_1 .st426{fill:#8F8F8F;}
	#Layer_1 .st427{fill:#AFAFAF;}
	#Layer_1 .st428{fill:#7A7A7A;}
	#Layer_1 .st429{fill:#737373;}
	#Layer_1 .st430{fill:#5C5C5C;}
	#Layer_1 .st431{fill:#858585;}
	#Layer_1 .st432{fill:#9D9D9D;}
	#Layer_1 .st433{fill:#666666;}
	#Layer_1 .st434{fill:#A1A1A1;}
	#Layer_1 .st435{fill:#C0C0C0;}
	#Layer_1 .st436{fill:#969696;}
	#Layer_1 .st437{fill:#F0F0F0;}
	#Layer_1 .st438{fill:#777777;}
	#Layer_1 .st439{fill:#696969;}
	#Layer_1 .st440{fill:#EBEBEB;}
	#Layer_1 .st441{fill:#474747;}


/* svg polygon{
  transform: scaleX(0) scaleY(0);
  transition: all .4s cubic-bezier(.17,.67,.83,.67);
}

svg polygon.animating{
  fill: #5466ff!important;
}

svg polygon.visible {
  transform: scaleX(1) scaleY(1);
}

@media only screen and (max-width: 767px) {
	svg polygon{
		transform: scaleX(1) scaleY(1);
	}
} */